.carousel {
    background-color: rgba(107, 190, 196, 0.446);
    
   
    }
    h3{
        background-color: rgba(89, 214, 242, 0.844);
        color: rgba(241, 248, 248, 0.967);
        padding: 2px;
    }
    p{
        background-color: rgba(107, 190, 196, 0.323);
        color: rgb(0, 0, 0);
        font-weight: bold;
        padding: 2px;
    }

    
