.main-nav-container{
  display: flex;
  justify-content: space-between;
}



.header {
    background-color: #26334b;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .header_nav{
    padding: 5px;
    font-weight: bold;
  }

  .header_nav :hover{
    background-color: darkred;
    color: darkturquoise;
  }