.footer {
    background-color: #26334b;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 1vmin);
    color: white;
    padding: 5px;
  }